<!DOCTYPE html>
<html>
 <head>
        <title>Home Page</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/bootstrap.min.js" crossorigin="anonymous"></script>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    </head>
  <body>
      
        <div class="menuslist">
            <a href="/" class="btn btn-link btn-outline-dark">Home</a>  
            <a href="/customers/add" class="btn btn-link btn-outline-dark">New Customer</a> 
            <a href="/customers" class="btn btn-link btn-outline-dark">Customer List</a>
        </div> 
        <div class="container"> 
    <h3><%= title %></h3>
    <p>Welcome to <%= login %></p>
        </div>
  </body>
</html>
